<!DOCTYPE html>
<html>
<head>
	<title>Poznámkovník</title>
	<link rel="stylesheet" type="text/css" href="/static/css/addNote.css">
	<meta charset="utf-8">
</head>
<body>
	<div class="container">
		<h1>Napiš svoji myšlenku</h1><br>
		<form method="POST">
			<div class="box">
	        	{{ form.csrf_token }}
	        	{{ form.note(class="textField") }}
	        	{{ form.private(class="private") }}
	        	{{ form.priority(class="radioField") }}
	        	<p class="private" id="text">Veřejné</p>
    		</div>
        	<input class="myButton" type="submit" value="Uložit">
    	</form>
	</div>
</body>
</html>